#	This is an command line interface (cli) configuration file.

units_mesh_resolution = m
vegetation            = brush

initialization_method = pointInitialization
write_wx_station_kml  = false

# input_wind_height          = 10.
# units_mesh_resolution      = m
# input_speed_units          = mps
# units_input_wind_height    = m

output_speed_units         = mps
output_wind_height         = 20
units_output_wind_height   = m

write_ascii_output = true
ascii_out_uv       = 0
